ccreenshots
screenshots/*
src/screenshots
src/screenshots/*
*.png
*.jpg
*.jpeg
fonts
fonts/*.ttf
src/fonts
src/fonts/*.ttf
img
img/*.png
src/img
src/img/*.png
*.o
src/*.o
game
game_gcc
game_clang
src/game
src/game_gcc
src/game_clang
unit_test
src/unit_test
*.so
src/*.so
src/index.html
*.js
src/*.js
*.data
src/*.data
*.wasm
src/*.wasm
a.out
src/a.out
src/img_data
src/img_data/*
src/export_to_code
*.mp3
*/*.mp3
*/*/*.mp3
*.wav
*/*.wav
*/*/*.wav
src/graphs
src/graphs/*
*.png
*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
src/minifantasy
.aider*
test
old_stats
stats
tests
tests.cpp
*.perf
perf.data.old
