fonts
fonts/*.ttf
src/fonts
src/fonts/*.ttf
img
img/*.png
src/img
src/img/*.png
*.o
src/*.o
game
src/game
unit_test
src/unit_test
*.so
src/*.so
*.html
src/*.html
*.js
src/*.js
*.data
src/*.data
*.wasm
src/*.wasm
a.out
src/a.out
src/img_data
src/img_data/*
src/export_to_code
*.mp3
*/*.mp3
*/*/*.mp3
*.wav
*/*.wav
*/*/*.wav
src/graphs
src/graphs/*
*.png
*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
